<a href="https://colab.research.google.com/github/Shazmeen99/LetsUpgrade-Python-Batch7_Shazmeen/blob/master/Shazmeen_LU_Python_Batch7_Assignment_1_Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [48]:
#LIST
list1 = ['physics', 'chemistry', 'biology', 2000, 5000, 6000];
list2 = [1, 2, 3, 4, 5, 6,7,8, 8, 9,8,5];
print ("List 1: ", list1)
print ("List 2:", list2)
print ("list1[0]: ", list1[0])
print ("list2[1:5]: ", list2[1:5])
print ("Value available at index 2 : ", list1[2])
print ("Value available at place 2 : ", list1[1])
del list1[2];
print ("After deleting value at index 2 : ", list1)
print("Length of List 1: ", len(list1)+1)
print("Concatenated List 1and 2: ", list1+list2)
print(3 in list1)
print ('physics' in list1)
print("Maximum of list 2: ",max(list2))
print("Minimum of list 2: ",min(list2))
print("5 occurs in list 2 ", list2.count(5), "times")
print("Insert banana at index 5 in list 1: ", list1.insert(5, "banana"))
print("List1: ", list1)
list2.append("Oldman")
print (" List 2: ", list2)
i=1
for x in list1:
  print("Element at position ", i, "is ", x)
  i=i+1
print("Reverse list 1: ", list1.reverse())

List 1:  ['physics', 'chemistry', 'biology', 2000, 5000, 6000]
List 2: [1, 2, 3, 4, 5, 6, 7, 8, 8, 9, 8, 5]
list1[0]:  physics
list2[1:5]:  [2, 3, 4, 5]
Value available at index 2 :  biology
Value available at place 2 :  chemistry
After deleting value at index 2 :  ['physics', 'chemistry', 2000, 5000, 6000]
Length of List 1:  6
Concatenated List 1and 2:  ['physics', 'chemistry', 2000, 5000, 6000, 1, 2, 3, 4, 5, 6, 7, 8, 8, 9, 8, 5]
False
True
Maximum of list 2:  9
Minimum of list 2:  1
5 occurs in list 2  2 times
Insert banana at index 5 in list 1:  None
List1:  ['physics', 'chemistry', 2000, 5000, 6000, 'banana']
 List 2:  [1, 2, 3, 4, 5, 6, 7, 8, 8, 9, 8, 5, 'Oldman']
Element at position  1 is  physics
Element at position  2 is  chemistry
Element at position  3 is  2000
Element at position  4 is  5000
Element at position  5 is  6000
Element at position  6 is  banana
Reverse list 1:  None

In [46]:
#TUPLE
tuple1 = ('physics', 'chemistry', 'biology', 2000, 5000, 6000)
tuple2 = (1, 2, 3, 4, 5, 6,7,8, 8, 9,8,5)
print ("Tuple 1: ", tuple1)
print ("Tuple 2:", tuple2)
print ("tup1[0]: ", tuple1[0])
print ("tup2[1:5]: ", tuple2[1:5])
tup3=tuple1+tuple2
print("Tuple 3: ", tup3)
tup4=("Heyy",)
print("Repetition of tuple4: " , tup4*5)
print("Length of Tuple 1: ", len(tuple1))
print("Concatenated Tuple 1and 2: ", tuple1+tuple2)
print(3 in tuple1)
print ('physics' in tuple1)
print("Maximum of tuple 2: ",max(tuple2))
print("Minimum of tuple 2: ",min(tuple2))
print("5 occurs in tuple 2 ", tuple2.count(5), "times")
i=1
for x in tuple2:
  print("Element at position ", i, "is ", x)
  i=i+1

Tuple 1:  ('physics', 'chemistry', 'biology', 2000, 5000, 6000)
Tuple 2: (1, 2, 3, 4, 5, 6, 7, 8, 8, 9, 8, 5)
tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)
Tuple 3:  ('physics', 'chemistry', 'biology', 2000, 5000, 6000, 1, 2, 3, 4, 5, 6, 7, 8, 8, 9, 8, 5)
Repetition of tuple4:  ('Heyy', 'Heyy', 'Heyy', 'Heyy', 'Heyy')
Length of Tuple 1:  6
Concatenated Tuple 1and 2:  ('physics', 'chemistry', 'biology', 2000, 5000, 6000, 1, 2, 3, 4, 5, 6, 7, 8, 8, 9, 8, 5)
False
True
Maximum of tuple 2:  9
Minimum of tuple 2:  1
5 occurs in tuple 2  2 times
Element at index  1 is  1
Element at index  2 is  2
Element at index  3 is  3
Element at index  4 is  4
Element at index  5 is  5
Element at index  6 is  6
Element at index  7 is  7
Element at index  8 is  8
Element at index  9 is  8
Element at index  10 is  9
Element at index  11 is  8
Element at index  12 is  5

In [78]:
#DICTIONARY
dict = {'Name': 'Allen', 'Age': 17, 'Fav Color': 'Blue'}
print ("dict['Name']: ", dict['Name'])
print ("dict['Age']: ", dict['Age'])
dict['Age'] = 8; # update existing entry
dict['School'] = "DPS School"; # Add new entry
print ("dict['Age']: ", dict['Age'])
print ("dict['School']: ", dict['School'])
print ("Dictionary1 :", dict)
dict2={'Name': 'Zey', 'Age': 8, 'Fav Color': 'Green', 'School':'BRS'}
print ("Dictionary2:", dict2)
dict3={'Name': 'Aleen', 'Age': 8, 'Fav Color': 'Pink', 'School':'KV'}
print("Length of Dict 1:", len(dict))
print("string representation of dictionary1", str(dict))
print("Type of variable dict2:", type(dict2))
print("Keys in dictionary1:", dict.keys())
dict.update(dict3)
print ("Updated Dictionary 1: ",dict)
print("Values in dictionary1:", dict.values())
print("Items in Dictionary 2: \n", 	dict2.items())
del dict3['Name']; 
print("Dictionary 3 with dleted name:", dict3)
dict3.clear();     
print("Dictionary 3 with values cleared: ",dict3)
del(dict3) 
#print (dict3) will show error because dict3 has been deleted

dict['Name']:  Allen
dict['Age']:  17
dict['Age']:  8
dict['School']:  DPS School
Dictionary1 : {'Name': 'Allen', 'Age': 8, 'Fav Color': 'Blue', 'School': 'DPS School'}
Dictionary2: {'Name': 'Zey', 'Age': 8, 'Fav Color': 'Green', 'School': 'BRS'}
Length of Dict 1: 4
string representation of dictionary1 {'Name': 'Allen', 'Age': 8, 'Fav Color': 'Blue', 'School': 'DPS School'}
Type of variable dict2: <class 'dict'>
Keys in dictionary1: dict_keys(['Name', 'Age', 'Fav Color', 'School'])
Updated Dictionary 1:  {'Name': 'Aleen', 'Age': 8, 'Fav Color': 'Pink', 'School': 'KV'}
Values in dictionary1: dict_values(['Aleen', 8, 'Pink', 'KV'])
Items in Dictionary 2:
 dict_items([('Name', 'Zey'), ('Age', 8), ('Fav Color', 'Green'), ('School', 'BRS')])
Dictionary 3 with dleted name: {'Age': 8, 'Fav Color': 'Pink', 'School': 'KV'}
Dictionary 3 with values cleared:  {}

In [105]:
#STRING
str1 = 'Hello World! Welcome to Python'
str2 = 'Programming is Fun!'
print("String 1: ", str1)
print("String 2: ", str2)
print ("Letter at index range from 0 to 11 of string 2: ", str2[0:11])
print ("Updated String1 : ", str1[:30] + ' Programming!!')
str3="shout Wohoooo!!"
print("Concatenated strings 2 and 3: ", (str2+str3))
print("Repeat string 3, 5 times", (str3*5))
print("Capitalized string 3: ", str3.capitalize())
print("Does str2 end with fun?: ", str2.endswith('yippee'))
str4='43267282'
print ("Str4 contains only digit: ",str4.isdigit())
print("Length of string 2: ", len(str2))
print("String 1 in all lowercase: ", str1.lower())
print("Maximum of string 4: ",max(str4))
print("Minimum of string 4: ",min(str4))
print("Does str3 start with s: ", str3.startswith('s'))
print("Swap case of string 2: ", str2.swapcase())

String 1:  Hello World! Welcome to Python
String 2:  Programming is Fun!
Letter at index range from 0 to 11 of string 2:  Programming
Updated String1 :  Hello World! Welcome to Python Programming!!
Concatenated strings 2 and 3:  Programming is Fun!shout Wohoooo!!
Repeat string 3, 5 times shout Wohoooo!!shout Wohoooo!!shout Wohoooo!!shout Wohoooo!!shout Wohoooo!!
Capitalized string 3:  Shout wohoooo!!
Does str2 end with fun?:  False
Str4 contains only digit:  True
Length of string 2:  19
String 1 in all lowercase:  hello world! welcome to python
Maximum of string 4:  8
Minimum of string 4:  2
Does str3 start with s:  True
Swap case of string 2:  pROGRAMMING IS fUN!

In [119]:
#SETS
set1={"Apple", "Banana", "Cherry", "Kiwi","Avocado","Mango"}
print("Set1:", set1)
set2={"Mango","CustardApple","Orange","Strawberry"}
print("Set2:", set2)
print("Set1 fruits list:-")
for x in set1:
	print(x)
print("Add Berries to set1", set1.add("Berries"))
print( set1)
set1.discard("Berries")
print("Set1 with discarded Berries", set1)
Fruits = set1|set2
print("Union of set1 and set2", Fruits)
Fruits = set1 & set2
print("Intersection of set1 and set2", Fruits)
Fruits = set1 - set2
print("Difference of set1 and set2", Fruits)
SubsetRes = set1 <= set2
SupersetRes = set2 >= set1
print("Set1 is subset of Set2",SubsetRes)
print("Set1 is superset of Set2",SupersetRes)

Set1: {'Kiwi', 'Banana', 'Apple', 'Cherry', 'Avocado', 'Mango'}
Set2: {'Strawberry', 'Mango', 'CustardApple', 'Orange'}
Set1 fruits list:-
Kiwi
Banana
Apple
Cherry
Avocado
Mango
Add Berries to set1 None
{'Kiwi', 'Banana', 'Apple', 'Cherry', 'Berries', 'Avocado', 'Mango'}
Set1 with discarded Berries {'Kiwi', 'Banana', 'Apple', 'Cherry', 'Avocado', 'Mango'}
Union of set1 and set2 {'Kiwi', 'Banana', 'Apple', 'CustardApple', 'Cherry', 'Avocado', 'Mango', 'Strawberry', 'Orange'}
Intersection of set1 and set2 {'Mango'}
Difference of set1 and set2 {'Kiwi', 'Banana', 'Apple', 'Cherry', 'Avocado'}
Set1 is subset of Set2 False
Set1 is superset of Set2 False